

      <!--<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light list-inline collapse">
        <div class="sidebar-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <button type="button" class="btn btn-danger">
                  Errores Sintacticos <span class="badge badge-light">{{ES}}</span>
                </button>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <button type="button" class="btn btn-danger">
                  Errores Lexicos <span class="badge badge-light">{{EL}}</span>
                </button>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <button type="button" class="btn btn-dark">
                  Tabla de Simbolos
                  <span class="badge badge-light">
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bookshelf" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M2.5 0a.5.5 0 0 1 .5.5V2h10V.5a.5.5 0 0 1 1 0v15a.5.5 0 0 1-1 0V15H3v.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5zM3 14h10v-3H3v3zm0-4h10V7H3v3zm0-4h10V3H3v3z"/>
                  </svg>
                </span>
                </button>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <button type="button" class="btn btn-info">
                  Reportes
                  <span class="badge badge-light">
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-card-heading" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M14.5 3h-13a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                    <path fill-rule="evenodd" d="M3 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
                    <path d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5v-1z"/>
                  </svg>
                </span>
                </button>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <button type="button" class="btn btn-success" [hidden]="ejecutar" (click)="Ejecutar($event,codemirror)">
                  Ejecutar
                  <span class="badge badge-light">
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cursor-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103z"/>
                  </svg>
                </span>
                </button>
                <div class="spinner-border text-success" role="status" [hidden]="!ejecutar">
                  <br>
                  <span class="sr-only">Loading...</span>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <button type="button" class="btn btn-warning" value = "Traducir" [hidden]="traduce" onclick="">
                  Traducir
                  <span class="badge badge-light">
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-diagram-3-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M6 3.5A1.5 1.5 0 0 1 7.5 2h1A1.5 1.5 0 0 1 10 3.5v1A1.5 1.5 0 0 1 8.5 6v1H14a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0v-1A.5.5 0 0 1 2 7h5.5V6A1.5 1.5 0 0 1 6 4.5v-1zm-6 8A1.5 1.5 0 0 1 1.5 10h1A1.5 1.5 0 0 1 4 11.5v1A1.5 1.5 0 0 1 2.5 14h-1A1.5 1.5 0 0 1 0 12.5v-1zm6 0A1.5 1.5 0 0 1 7.5 10h1a1.5 1.5 0 0 1 1.5 1.5v1A1.5 1.5 0 0 1 8.5 14h-1A1.5 1.5 0 0 1 6 12.5v-1zm6 0a1.5 1.5 0 0 1 1.5-1.5h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5v-1z"/>
                  </svg>
                </span>
                </button>
                <div class="spinner-border text-warning" role="status" [hidden]="!traduce">
                  <span class="sr-only">Loading...</span>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">-->
          <nav class="navbar navbar-dark navbar-expand-sm fixed-top">
            <div class="container">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="Navbar">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      <button type="button" class="btn btn-danger">
                        Errores Sintacticos <span class="badge badge-light">{{ES}}</span>
                      </button>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      <button type="button" class="btn btn-danger">
                        Errores Lexicos <span class="badge badge-light">{{EL}}</span>
                      </button>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      <button type="button" class="btn btn-dark">
                        Tabla de Simbolos
                        <span class="badge badge-light">
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bookshelf" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M2.5 0a.5.5 0 0 1 .5.5V2h10V.5a.5.5 0 0 1 1 0v15a.5.5 0 0 1-1 0V15H3v.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5zM3 14h10v-3H3v3zm0-4h10V7H3v3zm0-4h10V3H3v3z"/>
                  </svg>
                </span>
                      </button>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      <button type="button" class="btn btn-info">
                        Reportes
                        <span class="badge badge-light">
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-card-heading" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M14.5 3h-13a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                    <path fill-rule="evenodd" d="M3 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
                    <path d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5v-1z"/>
                  </svg>
                </span>
                      </button>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      <button type="button" class="btn btn-success" [hidden]="ejecutar" (click)="Ejecutar($event,codemirror)">
                        Ejecutar
                        <span class="badge badge-light">
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cursor-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103z"/>
                  </svg>
                </span>
                      </button>
                      <div class="spinner-border text-success" role="status" [hidden]="!ejecutar">
                        <br>
                        <span class="sr-only">Loading...</span>
                      </div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      <button type="button" class="btn btn-warning" value = "Traducir" [hidden]="traduce" onclick="">
                        Traducir
                        <span class="badge badge-light">
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-diagram-3-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M6 3.5A1.5 1.5 0 0 1 7.5 2h1A1.5 1.5 0 0 1 10 3.5v1A1.5 1.5 0 0 1 8.5 6v1H14a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0v-1A.5.5 0 0 1 2 7h5.5V6A1.5 1.5 0 0 1 6 4.5v-1zm-6 8A1.5 1.5 0 0 1 1.5 10h1A1.5 1.5 0 0 1 4 11.5v1A1.5 1.5 0 0 1 2.5 14h-1A1.5 1.5 0 0 1 0 12.5v-1zm6 0A1.5 1.5 0 0 1 7.5 10h1a1.5 1.5 0 0 1 1.5 1.5v1A1.5 1.5 0 0 1 8.5 14h-1A1.5 1.5 0 0 1 6 12.5v-1zm6 0a1.5 1.5 0 0 1 1.5-1.5h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5v-1z"/>
                  </svg>
                </span>
                      </button>
                      <div class="spinner-border text-warning" role="status" [hidden]="!traduce">
                        <span class="sr-only">Loading...</span>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>

      <header class="jumbotron">
        <div class="container">
          <div class="row row-header align-items-center">
            <div class="col-12 col-md-6 col-sm">
              <h1>Ristorante con Fusion</h1>
              <p>We take inspiration from the World's best cuisines, and create a unique fusion experience. Our lipsmacking creations will tickle your culinary senses!</p>
            </div>
            <div class="col col-6">
              <div class="row align-items-center">
                <div class="col col-sm-12 col-md-6 align-self-center">
                  <img src="img/logo-usac-byempacharte.png" class="img-fluid" alt="">
                </div>
                <div class="col col-sm-12 col-md-6 align-self-center">
                  <!--
                    <a role="button" class="btn btn-block nav-link btn-warning"
                      data-toggle="tooltip" data-html="true"
                      title="Or call us at <br><strong>111111111</strong>"
                      data-placement="bottom" href="#ReserveForm">Reserve Table</a>
                    -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>

      <div class="container-fluid">
          <div class="row row-content">

          </div>
  <!--
          <div class="row row-content">
            <div class="col">
              <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <div class="btn-toolbar mb-3 mb-md-0">
                  <div class="btn-group mr-3">

                  </div>
                </div>
                <div class="btn-toolbar mb-2 mb-md-0">
                  <div class="btn-group mr-1">
                    <a class="nav-link" href="#">
                      <button type="button" class="btn btn-danger">
                        Errores Sintacticos <span class="badge badge-light">{{ES}}</span>
                      </button>
                    </a>
                  </div>
                  <div class="btn-group mr-1">
                    <a class="nav-link" href="#">
                      <button type="button" class="btn btn-danger">
                        Errores Lexicos <span class="badge badge-light">{{EL}}</span>
                      </button>
                    </a>
                  </div>
                  <div class="btn-group mr-1">
                    <a class="nav-link" href="#">
                      <button type="button" class="btn btn-dark">
                        Tabla de Simbolos
                        <span class="badge badge-light">
                          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bookshelf" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M2.5 0a.5.5 0 0 1 .5.5V2h10V.5a.5.5 0 0 1 1 0v15a.5.5 0 0 1-1 0V15H3v.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5zM3 14h10v-3H3v3zm0-4h10V7H3v3zm0-4h10V3H3v3z"/>
                          </svg>
                        </span>
                      </button>
                    </a>
                  </div>
                  <div class="btn-group mr-1">
                    <a class="nav-link" href="#">
                      <button type="button" class="btn btn-info">
                        Reportes
                        <span class="badge badge-light">
                          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-card-heading" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M14.5 3h-13a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                            <path fill-rule="evenodd" d="M3 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
                            <path d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5v-1z"/>
                          </svg>
                        </span>
                      </button>
                    </a>
                  </div>
                  <div class="btn-group mr-1">
                    <a class="nav-link" href="#">
                      <button type="button" class="btn btn-success" [hidden]="ejecutar" (click)="Ejecutar($event,codemirror)">
                        Ejecutar
                        <span class="badge badge-light">
                          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cursor-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103z"/>
                          </svg>
                        </span>
                      </button>
                      <div class="spinner-border text-success" role="status" [hidden]="!ejecutar">
                        <br>
                        <span class="sr-only">Loading...</span>
                      </div>
                    </a>
                  </div>
                  <div class="btn-group mr-1">
                    <a class="nav-link" href="#">
                      <button type="button" class="btn btn-warning" value = "Traducir" [hidden]="traduce" onclick="">
                        Traducir
                        <span class="badge badge-light">
                          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-diagram-3-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M6 3.5A1.5 1.5 0 0 1 7.5 2h1A1.5 1.5 0 0 1 10 3.5v1A1.5 1.5 0 0 1 8.5 6v1H14a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0v-1A.5.5 0 0 1 2 7h5.5V6A1.5 1.5 0 0 1 6 4.5v-1zm-6 8A1.5 1.5 0 0 1 1.5 10h1A1.5 1.5 0 0 1 4 11.5v1A1.5 1.5 0 0 1 2.5 14h-1A1.5 1.5 0 0 1 0 12.5v-1zm6 0A1.5 1.5 0 0 1 7.5 10h1a1.5 1.5 0 0 1 1.5 1.5v1A1.5 1.5 0 0 1 8.5 14h-1A1.5 1.5 0 0 1 6 12.5v-1zm6 0a1.5 1.5 0 0 1 1.5-1.5h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5v-1z"/>
                          </svg>
                        </span>
                      </button>
                      <div class="spinner-border text-warning" role="status" [hidden]="!traduce">
                        <span class="sr-only">Loading...</span>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
  -->
          <div class="row row-content bg-dark">
            <div class="col">
              <div class="col-md-auto col-sm-auto col-lg-auto">
                <p><a href="#" class="text-success"><b>CODIGO</b></a></p>
                <ngx-codemirror id="codemirrorCode"
                                #codemirror
                                [options]="codeMirrorOptions"
                                [(ngModel)]="obj"
                                (ngModelChange)="setEditorContent($event)">
                </ngx-codemirror>
              </div>
            </div>
            <div class="col">
              <div class="col-md-auto col-sm-auto col-lg-auto">
                <p><a href="#" class="text-warning"><b>TRADUCCION</b></a></p>
                <ngx-codemirror id="codemirrorTraductor"
                                #codemirror1
                                [options]="codeMirrorOptions0"
                                [(ngModel)]="obj2"
                                (ngModelChange)="setEditorContent($event)">
                </ngx-codemirror>
              </div>
            </div>
          </div>
          <div class="row row-content bg-light">
            <div class="col">
              <div class="col-lg-12 col-sm-auto col-md-auto pt-3 pb-2 mb-3 border-bottom">
                  <p><ngb-progressbar type="success" textType="white" [value]="progreso" [showValue]="true"></ngb-progressbar></p>
              </div>
            </div>
          </div>
          <div class="row row-content bg-dark output" >
            <div class="col col-sm order-sm-first col-md">
              <div class="col-md-auto col-sm-auto col-lg-auto">
                <p><a href="#" class="text-info"><b>SALIDA</b></a></p>
                <ngx-codemirror id="codemirrorSalida"
                                #codemirror2
                                [options]="codeMirrorOptions1"
                                [(ngModel)]="obj1"
                                (ngModelChange)="setEditorContent($event)">
                </ngx-codemirror>
              </div>
            </div>
          </div>

        <footer class="footer">
          <div class="container">
            <div class="row">
              <div class="col-12 col-sm-4 align-self-center">
                <div class="text-center">
                  <a class="btn btn-social-icon btn-google" href="http://google.com/+"><i class="fa fa-google-plus"></i></a>
                  <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook"></i></a>
                  <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin"></i></a>
                  <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter"></i></a>
                  <a class="btn btn-social-icon btn-google" href="http://youtube.com/"><i class="fa fa-youtube"></i></a>
                  <a class="btn btn-social-icon" href="mailto:"><i class="fa fa-envelope-o"></i></a>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-auto">
                <p>© Copyright 2020 - José Wannan - Universidad de San Carlos de Guatemala</p>
              </div>
            </div>
          </div>
        </footer>

</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
